@model Furni_Ecommerce_Shared.UserViewModel.ProductsAndCommentsViewModel

@{
    ViewData["Title"] = "PrdDetails";
}

<div class="container-fluid px-0">
  <div class="row" style:"margin:0px auto;height: 250vh; padding-top:60px;">
    <div class="card mb-3" style="width: 100%;">
      <div class="row g-0 h-100"  style="height:800px;padding-top:50px;">
        <!-- Image Column -->

                <div class="col-md-7 text-center mt-5">
                    <div class="image-container">
                        <i class="@(Model.IsFavorite ? "fa-solid" : "fa-regular") fa-heart heart heart-icon "
                           style="color:@(Model.IsFavorite ? "red" : "black")"
                           data-id="@Model.Id"></i>
                        <img src="~/images/@Model.ImagePath" class="img-fluid rounded-start shadow" alt="..." />
                    </div>
                </div>



      <!-- Text Column -->
        <div class="col-md-5 mt-5 " style="margin: 0 auto;padding-bottom:200px;">
          <div class="card-body p-3  text-center text-md-start" style="height: auto; padding: 15px; max-width: 100%; overflow: hidden;">
            <h1 class="card-title"> @Model.Name</h1>
            <p class="card-text">@Model.Description</p>
            <h4 class="card-text">💰 <strong>Price:</strong> $@Model.Price</h4>
            <h4 class="card-text">📦 <strong>Stock:</strong> @Model.Stock Item</h4>
            <h4 class="card-text">🏷️ <strong>Category:</strong> @Model.CategoryName</h4><br>
            <p ><a href="#" class=" btn btn-buy shadow" >Buy Now</a></p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

@* <div style="height:200px; width:100%;background-color:#ffffff;"> *@

</div>

             <style>
                 body {
                  margin: 0;
                  padding: 0;
                }
 

                .imges{
                    width:500px;
                    height:500px
                }

            .image-container {
                position: relative;
                display: inline-block;
                /* width: 900px; */
                /*  max-height: 600px; */
            }

                .image-container img {
                 width: 500px;
                 height: 500px display: block;
                }
                .card-text{
                    padding-bottom:20px
                }
                .btn-buy{
                background-color:#3b5d50;

                }
                 .btn-buy:hover{
                background-color:#3b8d50;

                }

    .favorite-card {
        width: 85%;
    }

    .heart-icon {
        cursor: pointer;
        position:absolute;
        top: 30px;
        right: 40px;
        font-size:30px;
        transition: transform 0.3s, color 0.3s;
    }

        .heart-icon:hover {
            transform: scale(1.2);
            color: red !important;
        }
            </style>